.topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  column-gap: 10px;
  row-gap: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    min-height: 200px;
}
