.data-binding {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  column-gap: 50px;

  .card {
    // border: 1px solid black;
    background-color: white;
    padding: 20px;
    min-height: 250px;
  }
}
